.wrapper {
  width: 80%;
  margin-top: 20px;
  padding: 10px 30px;

  .timeWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.timeItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  .number {
    font-weight: 900;
    font-size: 30px;

  }

  .text {
    font-weight: lighter;
    font-size: 10px;
  }
}
