.customSelect {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  z-index: 100;

  .selectedOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;

    .placeholder {
      color: gray;
      font-size: 14px;
      //padding-left: 5px;
    }

    .arrow {
      color: gray;
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 95%;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 0;

    height: 150px;
    overflow-y: scroll;

    .option {
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: rgba(52, 157, 255, 0.38);
      }
    }
  }

  &.open {
    .selectedOption .arrow {
      transform: rotate(180deg);
    }

    .options {
      display: block;
    }
  }
}
